@import "tailwindcss";

  
html {
  scroll-behavior: smooth;
}


body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
  }
  
  ::-webkit-scrollbar-track {
    background: #1e293b;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #dcddfe;
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #7f7f7f85;
  }
  